// Fonts
$big-font: 'Oleo Script', cursive;
$small-font: 'Open Sans', sans-serif;
// Colors
$jack: #00A08A;
$peter: #F2AD00;
$francis: rgba(255, 0, 0, 0.45);
// Mixins
@mixin breakpoint($point) {
    @if $point==large {
        @media only screen and (max-width: 1280px) {
            @content;
        }
    }
    @else if $point==medium {
        @media only screen and (max-width: 980px) {
            @content;
        }
    }
    @else if $point==small {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }
    @else if $point==small-landscape {
        @media only screen and (max-width: 767px) and (orientation: landscape) {
            @content;
        }
    }
    @else if $point==xsmall {
        @media only screen and (max-width: 480px) and (orientation: portrait) {
            @content;
        }
    }
    @else if $point==xxsmall {
        @media only screen and (max-width: 320px) and (orientation: portrait) {
            @content;
        }
    }
    @else if $point==xlarge {
        @media only screen and (min-width: 1281px) {
            @content;
        }
    }
}
@mixin auto-center {
    margin: {
        left: auto;
        right: auto;
    }
}
@mixin box-sizing($type) {
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
    box-sizing: $type;
}
@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}
// Base
html {
    @include box-sizing(border-box);
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-size: 1rem;
    @include breakpoint(xlarge) {
        font-size: 18px;
    }
    @include breakpoint(medium) {
        font-size: 12px;
    }
    @include breakpoint(small) {
        font-size: 10px;
    }
    @include breakpoint(xsmall) {
        font-size: 8px;
    }
    @include breakpoint(xxsmall) {
        font-size: 6px
    }
}
*,
*:before,
*:after {
    @include box-sizing(inherit);
}
body {
    background-color: $jack;
    font: 2.25rem/3.375rem $small-font;
    color: $peter;
    margin: 0;
    padding: 0;
}
a {
    color: $peter;
    text-decoration: none;
}
.box {
    max-width: 66.6%;
    background-color: $francis;/*
    @include flexbox;
    @include flex-direction(column);
    @include flex-align(flex-start);
    @include flex-space(space-around);*/
    height: 60vh;
    @include auto-center;
    top: 50%;
    transform: translateY(20vh);
    padding: 2rem 4rem;
    @include breakpoint(small) {
        max-width: 90%;
        height: 80vh;
        transform: translateY(10vh);
    }/*
    * {
        @include flex(0 0 auto);
    }*/
}
h2 {
    font: 4rem/5.5rem $big-font;
    color: $peter;
    margin: 0;
    @include breakpoint(small) {
        padding-top: 2em;
    }
    @include breakpoint(small-landscape) {
        padding-top: 0;
    }
}
p {
    font: inherit;
    padding: 1rem 0 0;
    @include breakpoint(xsmall) {
        padding: 2em 0 0.5em;
    }
}
input:focus {
    outline: none;
}
input {
    width: 100%;
    background: none;
    font: inherit;
    color: $peter;
    border: none;
    border-bottom: 1px dashed $peter;
}
